<script>
  import { createEventDispatcher, tick } from "svelte";

  const dispatch = createEventDispatcher();

  export let item;

  let isEditing = false;
  let inputElem;

  function onClick(e) {
    if (isEditing) {
      return;
    }

    e.stopPropagation();
    dispatch("click", { item: item });
  }

  function onKeyDown(e) {
    if (isEditing) {
    } else {
      if (!item.permanent && (e.key === "Delete" || e.key === "Backspace")) {
        e.stopPropagation();
        dispatch("delete", { item: item });
      } else if (e.key === " " || e.key === "Enter") {
        e.stopPropagation();
        dispatch("click", { item: item });
      }
    }
  }

  function onDeleteClick(e) {
    e.stopPropagation();
    dispatch("delete", { item: item });
  }

  const onDeleteKeyDown = e => {
    e.stopPropagation();

    if (e.key === "Enter" || e.key === " ") {
      dispatch("delete", { item: item });
    }
  };

  function onEditClick(e) {
    e.stopPropagation();
    edit();
  }

  const onEditKeyDown = e => {
    if (e.key === "Enter" || e.key === " ") {
      e.stopPropagation();
      e.preventDefault(); // Prevent input from catching " ".
      edit();
    }
  };

  const edit = () => {
    const selectText = async () => {
      await tick();
      inputElem.select();
    };

    isEditing = true;

    inputElem.value = item.type;
    inputElem.focus();

    selectText(); // HACK: To make selection work.
  };

  function onInputChange(e) {
    item.type = inputElem.value;
    isEditing = false;

    dispatch("change", { item: item });
  }
  function onInputFocusOut(e) {
    isEditing = false;
  }
  const onInputKeyDown = e => {
    e.stopPropagation();

    if (e.key === "Escape") {
      e.preventDefault();
      isEditing = false;
    } else if (e.key === "Enter") {
      isEditing = false;
    }
  };
</script>

<style>
  .chip {
    display: flex;
    min-width: 25px;
    height: 26px;
    font-family: var(--font-family);
    border: 1px solid var(--modal-input-background-color);
    margin: 5px;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    outline-style: none;
  }
  .chip:focus {
    border-color: var(--modal-item-focus-border-color);
  }
  i {
    margin-left: 7px;
    margin-top: -5px;
    outline: none;
  }

  i:focus {
    border: 1px solid var(--modal-item-focus-border-color);
  }
  i:hover {
    color: var(--modal-chip-remove-hover-color);
  }

  p {
    text-transform: uppercase;
  }

  .invisible {
    display: none;
  }
</style>

<div
  class="chip"
  on:click={onClick}
  tabIndex={'0'}
  on:keydown={onKeyDown}
  style={'background-color:' + item.color}>

  <input
    class="modal-input-text"
    class:invisible={!isEditing}
    type="text"
    bind:this={inputElem}
    on:change={onInputChange}
    on:focusout={onInputFocusOut}
    on:keydown={onInputKeyDown} />

  <p class:invisible={isEditing} tabindex="-1">{item.type}</p>

  {#if item.editable && !isEditing}
    <i
      class="mdi mdi-pencil"
      tabindex="0"
      on:click={onEditClick}
      on:keydown={onEditKeyDown} />
  {/if}
  {#if !item.permanent}
    <i
      class="mdi mdi-close"
      tabindex="0"
      on:click={onDeleteClick}
      on:keydown={onDeleteKeyDown} />
  {/if}
</div>
