<script>
  import { createEventDispatcher, tick } from "svelte";
  import { Keys } from "../../keys.js";

  export let text;
  export let color;

  const dispatch = createEventDispatcher();

  let colorInput;

  const onKeyDown = e => {
    if (e.key === " " || e.key === Keys.Enter) {
      showColorDlg();
    }
  };

  const onClick = e => {
    showColorDlg();
  };

  const showColorDlg = () => {
    colorInput.value = color;
    colorInput.focus();
    colorInput.click();
  };

  const onColorInputChange = e => {
    color = e.target.value;
    dispatch("change", { color });
  };
</script>

<style>
  .colorButton {
    display: flex;
    min-width: 25px;
    height: 26px;
    font-family: var(--font-family);
    border: 1px solid var(--modal-input-background-color);
    margin: 0px;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    outline-style: none;
  }
  .colorButton:focus {
    border-color: var(--modal-item-focus-border-color);
  }

  p {
    text-transform: uppercase;
    color: var(--modal-background-color);
    text-align: center;
    margin: 0px;
    padding: 0px;
  }
  input[type="color"] {
    visibility: hidden;
    width: 0px;
    height: 0px;
    padding: 0px;
    border-width: 0px;
  }
</style>

<div
  class="colorButton"
  on:click={onClick}
  tabIndex={'0'}
  on:keydown={onKeyDown}
  style={'background-color:' + color}>
  <input type="color" bind:this={colorInput} on:change={onColorInputChange} />
  <p tabindex="-1">{text}</p>
</div>
