<script>
  import { createEventDispatcher } from "svelte";

  export let item;

  const dispatch = createEventDispatcher();

  const onClick = e => {
    dispatch("click", item);
    toggleChecked();
    triggerOnChecked();
  };
  const toggleChecked = () => {
    item.checked = !item.checked;
  };
  const onKeyDown = e => {
    if (e.key === " ") {
      toggleChecked();
      triggerOnChecked();
    }
  };
  const triggerOnChecked = () => {
    if (item.onChecked) {
      item.onChecked(item);
    }
  };
</script>

<style>
  .context-menu-check-button {
    font-family: var(--font-family);
    font-size: var(--context-menu-font-size);
    text-transform: capitalize;
    color: var(--context-menu-item-color);
    width: 100%;
    display: flex;
    cursor: pointer;
    padding-left: 12px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: 1px solid transparent;
  }

  .context-menu-check-button:hover {
    color: var(--context-menu-item-hover-color);
    background-color: var(--context-menu-item-hover-background-color);
  }
  .context-menu-check-button:focus {
    border-width: 1px;
    border-style: solid;
    border-color: var(--context-menu-item-focus-border-color);
  }
  .checkmark {
    width: 10px;
    margin: 0px;
    padding: 0px;
    left: -7px;
    color: var(--context-menu-item-color);
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .checkbox-hidden {
    display: none;
    opacity: 0;
    width: 0px;
    height: 0px;
    color: var(--context-menu-item-color);
  }

  .checkbox-hidden:checked ~ .checkmark:after {
    display: block;
    content: "\2713";
    font-weight: bold;
    position: relative;
    color: var(--context-menu-item-color);
    top: -1px;
    left: 2px;
  }

  .checkbox-hidden:checked:hover ~ .checkmark:after {
    display: block;
    content: "\2713";
    font-weight: bold;
    position: relative;
    top: -1px;
    left: 2px;
    color: var(--context-menu-item-hover-color);
  }

  .checkmark-dimmed {
    width: 10px;
    margin: 0px;
    padding: 0px;
    left: -7px;
    color: var(--context-menu-item-color);
  }
  .checkmark-dimmed:after {
    content: "";
    position: absolute;
    display: none;
  }

  .checkbox-hidden:checked ~ .checkmark-dimmed:after {
    display: block;
    content: "\2713";
    font-weight: bold;
    position: relative;
    opacity: 0.25;
    color: var(--context-menu-item-color);
    top: -1px;
    left: 2px;
  }
  .checkbox-hidden:checked:hover ~ .checkmark-dimmed:after {
    display: block;
    content: "\2713";
    font-weight: bold;
    position: relative;
    top: -1px;
    left: 2px;
    opacity: 0.25;
    color: var(--context-menu-item-hover-color);
  }
</style>

<label class="context-menu-check-button" tabindex="0" on:keydown={onKeyDown}>
  <input
    id="checkbox-hidden"
    class="checkbox-hidden"
    type="checkbox"
    name={item.group}
    bind:checked={item.checked}
    tabindex="-1"
    on:click={onClick} />
  {#if item.dimmed}
    <span class="checkmark-dimmed" tabindex="-1" />
  {:else}
    <span class="checkmark" tabindex="-1" />
  {/if}
  {item.text}
</label>
