<script>
  import { createEventDispatcher, onMount } from "svelte";
  import { MODAL_BUTTONS } from "./modalButtons.js";
  import { Keys } from "../../keys.js";

  export let header = "";
  export let dividers = true;
  export let buttons = "";

  const dispatch = createEventDispatcher();

  let buttonsSpecified = buttons.split("|");
  let twoColumns = buttonSpecified(MODAL_BUTTONS.RESET);
  let oneColumn = !twoColumns;
  let shiftDown = false;
  let divElem;

  onMount(() => {
    firstLastFocusableElems().first.focus();
  });

  function buttonSpecified(btn) {
    return buttonsSpecified.findIndex(b => b === btn) > -1;
  }

  function onKeyUp(e) {
    if (e.key === Keys.shift) {
      shiftDown = false;
    }
  }

  function onKeyDown(e) {
    if (e.key === "Escape") {
      dispatch("close", { btn: MODAL_BUTTONS.CANCEL });
    }

    if (e.key === Keys.shift) {
      shiftDown = true;
    }

    if (e.key === Keys.tab) {
      const focusableElems = firstLastFocusableElems();
      if (shiftDown) {
        if (e.target === focusableElems.first) {
          e.preventDefault();
          focusableElems.last.focus();
        }
      } else {
        if (e.target === focusableElems.last) {
          e.preventDefault();
          focusableElems.first.focus();
        }
      }
    }
  }

  // THANKS: https://twitter.com/heydonworks/status/880773131287359488
  const firstLastFocusableElems = () => {
    var focusable = divElem.querySelectorAll(
      'button, [href], input, select, textarea, [tabindex]:not([tabindex="-1"])'
    );

    return {
      first: focusable[0],
      last: focusable[focusable.length - 1]
    };
  };
</script>

<style>
  .modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--modal-surrounding-background-color);
    z-index: 1;
  }

  .modal {
    margin: 15% auto;
    padding: 10px;
    border: 1px solid;
    border-color: var(--modal-border-color);
    border-radius: 0.2em;
    background-color: var(--modal-background-color);
    font-family: var(--font-family);
    /* width: 50%; */
    width: 500px;
    z-index: 10;
    color: var(--modal-color);
    font-size: var(--modal-font-size);
  }
  h1 {
    font-size: var(--modal-header-font-size);
    font-weight: normal;
    text-transform: uppercase;
    margin: 0px;
  }

  .upper-hr {
    height: 1px;
    border: none;
    margin-top: 4px;
  }

  .lower-hr {
    height: 1px;
    background-color: var(--modal-ruler-color);
    border: none;
    margin-top: 30px;
  }

  .twoColumns {
    display: flex;
    justify-content: space-between;
    padding: 0px;
  }

  .oneColumn {
    display: flex;
    justify-content: flex-end;
    padding: 0px;
  }

  .modal-buttons-container-left {
  }
  .modal-buttons-container-right {
  }

  .modal-button {
    color: var(--modal-item-color);
    background-color: transparent;
    border: 1px solid;
    border-color: var(--modal-item-border-color);
    margin: 2px;
    padding: 4px 8px 4px 8px;
    text-align: center;
    width: 70px;
    font-family: var(--font-family);
    font-size: var(--modal-button-font-size);
    outline-style: none;
  }
  .modal-button:focus {
    border-color: var(--modal-item-focus-border-color);
  }
  .modal-button:active {
    color: var(--modal-button-active-color);
    background-color: var(--modal-button-active-background-color);
  }

  .modal-button:hover {
    background-color: var(--modal-button-hover-background-color);
  }
  .modal-body {
    margin-left: 12px;
  }
</style>

<div
  id="ModalBackground"
  class="modal-background"
  tabindex="-1"
  on:click={e => {
    if (e.target.id === 'ModalBackground') {
      dispatch('close', { btn: MODAL_BUTTONS.CANCEL });
    }
  }}>

  <div
    class="modal"
    tabindex="-1"
    bind:this={divElem}
    on:keydown|stopPropagation={onKeyDown}
    on:keyup|stopPropagation={onKeyUp}>
    <h1>{header}</h1>

    {#if dividers}
      <hr class="upper-hr" />
    {/if}

    <div class="modal-body">
      <slot />
    </div>

    {#if dividers}
      <hr class="lower-hr" />
    {/if}

    <div class:twoColumns class:oneColumn>
      {#if buttonSpecified(MODAL_BUTTONS.RESET)}
        <div class="modal-buttons-container-left">
          <button
            class="modal-button"
            on:click={() => dispatch('close', { btn: MODAL_BUTTONS.RESET })}>
            Reset
          </button>
        </div>
      {/if}
      <div class="modal-buttons-container-right">
        {#if buttonSpecified(MODAL_BUTTONS.CANCEL)}
          <button
            class="modal-button"
            on:click={() => dispatch('close', { btn: MODAL_BUTTONS.CANCEL })}>
            Cancel
          </button>
        {/if}

        {#if buttonSpecified(MODAL_BUTTONS.OK)}
          <button
            class="modal-button"
            on:click={() => dispatch('close', { btn: MODAL_BUTTONS.OK })}>
            Ok
          </button>
        {/if}

        {#if buttonSpecified(MODAL_BUTTONS.CLOSE)}
          <button
            class="modal-button"
            on:click={() => dispatch('close', { btn: MODAL_BUTTONS.CLOSE })}>
            Close
          </button>
        {/if}

        {#if buttonSpecified(MODAL_BUTTONS.YES)}
          <button
            class="modal-button"
            on:click={() => dispatch('close', { btn: MODAL_BUTTONS.YES })}>
            Yes
          </button>
        {/if}

        {#if buttonSpecified(MODAL_BUTTONS.NO)}
          <button
            class="modal-button"
            on:click={() => dispatch('close', { btn: MODAL_BUTTONS.NO })}>
            No
          </button>
        {/if}
      </div>
    </div>
  </div>
</div>
