<script>
  import { createEventDispatcher, onMount, afterUpdate } from "svelte";
  import { Keys } from "../../../keys.js";
  import { ContextMenuItemType } from "./ContextMenuConstants.js";
  import ContextMenuGroup from "./ContextMenuGroup/ContextMenuGroup.svelte";
  import ContextMenuRuler from "./ContextMenuRuler/ContextMenuRuler.svelte";

  const dispatch = createEventDispatcher();

  export let show;
  export let pos;
  export let items;

  let divElem;

  onMount(() => {
    if (!show) {
      return;
    }
  });

  afterUpdate(() => {
    if (!show) {
      return;
    }
    divElem.focus();
  });

  function buttonSpecified(btn) {
    return buttonsSpecified.findIndex(b => b === btn) > -1;
  }

  const getFocusableItems = () =>
    divElem.querySelectorAll(
      ".context-menu-button, .context-menu-check-button, .context-menu-radio-button"
    );
  function onKeyDown(e) {
    if (e.key === Keys.escape) {
      dispatch("close", {});
    }

    if (e.key === Keys.tab) {
      e.preventDefault();
      return;
    }

    const getNextElem = (currElem, forward = true) => {
      const focusableItems = getFocusableItems();
      const items = Array.from(focusableItems);
      const currIndex = items.indexOf(currElem);
      const adjustment = forward ? 1 : -1;
      return items[currIndex + adjustment];
    };

    const focusableElems = firstLastFocusableElems();
    if (e.key === Keys.arrowUp) {
      e.preventDefault();
      if (e.target === divElem || e.target === focusableElems.first) {
        focusableElems.last.focus();
      } else {
        getNextElem(e.target, false).focus();
      }
    } else if (e.key === Keys.arrowDown) {
      e.preventDefault();
      if (e.target === focusableElems.last) {
        focusableElems.first.focus();
      } else {
        getNextElem(e.target).focus();
      }
    }
  }

  // THANKS: https://twitter.com/heydonworks/status/880773131287359488
  const firstLastFocusableElems = () => {
    var focusable = getFocusableItems();
    return {
      first: focusable[0],
      last: focusable[focusable.length - 1]
    };
  };

  const onItemClick = e => {
    dispatch("itemClick", e);
  };

  const onBackgroundClick = e => {
    if (e.target.id === "ContextMenuBackground") {
      dispatch("close", {});
    }
  };
  const onContextMenu = e => {
    if (e.target.id === "ContextMenuBackground") {
      dispatch("close", {});
    }
  };
</script>

<style>
  .context-menu-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--context-menu-surrounding-background-color);
    z-index: 1;
    outline: none;
  }

  .context-menu {
    display: flex;
    flex-direction: column;
    outline: none;
    border: 1px solid;
    border-color: var(--context-menu-border-color);
    background-color: var(--context-menu-background-color);
    color: var(--context-menu-color);
    font-family: var(--font-family);
    font-size: var(--modal-context-menu-size);
    width: 150px;
    z-index: 10;
  }
</style>

{#if show}
  <div
    id="ContextMenuBackground"
    class="context-menu-background"
    tabindex="-1"
    on:click={onBackgroundClick}
    on:contextmenu={onContextMenu}>

    <div
      class="context-menu"
      tabindex="0"
      bind:this={divElem}
      style={`top: ${pos.y}; left: ${pos.x}`}
      on:keydown|stopPropagation={onKeyDown}>

      {#each items as item (item.id)}
        {#if item.type === ContextMenuItemType.Group}
          <ContextMenuGroup {item} on:itemClick={onItemClick} />
        {:else if item.type === ContextMenuItemType.Ruler}
          <ContextMenuRuler />
        {/if}
      {/each}
    </div>
  </div>
{/if}
