<script>
  import { createEventDispatcher } from "svelte";
  import Chip from "./Chip/Chip.svelte";
  import AddChipButton from "./AddChipButton/AddChipButton.svelte";

  const dispatch = createEventDispatcher();

  export let items;
  export let fixedSize;

  let colorInput;
  let itemClicked;
  function onChipClick(e) {
    itemClicked = e.detail.item;
    colorInput.value = itemClicked.color;
    colorInput.focus();
    colorInput.click();
  }

  function onColorInputChange(e) {
    const idx = items.findIndex(boxType => boxType.id === itemClicked.id);
    items[idx].color = e.target.value;
    itemClicked = null;
  }
</script>

<style>
  .chips-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0px;
  }

  input[type="color"] {
    visibility: hidden;
    width: 0px;
  }
</style>

<div class="chips-container">
  <input
    type="color"
    id="colorInput"
    bind:this={colorInput}
    on:change={onColorInputChange} />
  {#each items as item (item.id)}
    <Chip
      {item}
      on:click={onChipClick}
      on:delete={e => dispatch('delete', e.detail)} />
  {/each}
  {#if !fixedSize}
    <AddChipButton on:click={e => dispatch('add')} />
  {/if}
</div>
