<script>
  import "@mdi/js";

  import {
    createEventDispatcher,
    onMount,
    beforeUpdate,
    afterUpdate
  } from "svelte";

  import ToolbarGroup from "./ToolbarGroup/ToolbarGroup.svelte";
  import ToolbarButton from "./ToolbarButton/ToolbarButton.svelte";
  import ToolbarToggleButton from "./ToolbarToggleButton/ToolbarToggleButton.svelte";
  import { TOOLS } from "../Painter/tools/tool.js";

  import { Keys } from "../../keys.js";
  const dispatch = createEventDispatcher();

  export let textMgr;
  export let tool;

  let toolbar;
  let selected;
  let shiftDown = false;

  beforeUpdate(() => {
    if (tool) {
      selected = tool;
    }
  });

  function onKeyUp(e) {
    if (e.key === Keys.shift) {
      shiftDown = false;
    }
  }
  function onKeyDown(e) {
    if (e.key === Keys.shift) {
      shiftDown = true;
    }

    const curr = e.target;
    const children = curr.parentNode.children;
    let currIndex = Array.prototype.indexOf.call(children, curr);
    let nextIndex;
    if (e.key === Keys.arrowDown) {
      nextIndex = getNextIndex(currIndex, children.length, +1);
      selectItem(nextIndex, children);
    } else if (e.key === Keys.arrowUp) {
      nextIndex = getNextIndex(currIndex, children.length, -1);
      selectItem(nextIndex, children);
    }
  }
  function getNextIndex(currIndex, length, adjustment) {
    let index = currIndex + adjustment;
    index = index > length - 1 ? 1 : index;
    index = index < 1 ? length - 1 : index;
    return index;
  }
  function selectItem(index, children) {
    const nextElem = children[index];
    selected = nextElem.getAttribute("id");
    nextElem.focus();
  }
  function onClickTool(e) {
    selected = e.detail.target.getAttribute("id");
    dispatch(selected);
  }
</script>

<style>
  .toolbar {
    height: 1000px;
    padding: 1px;

    border: 1px solid;
    color: var(--toolbar-color);
    border-color: var(--toolbar-border-color);
    background-color: var(--toolbar-background-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
</style>

<div class="toolbar" on:keydown={onKeyDown}>
  <ToolbarGroup id="File" text="FILE">
    <ToolbarButton
      id="New"
      icon="mdi mdi-file-outline"
      on:click={() => dispatch('new')}
      tooltip={textMgr.getTooltip('new')} />
    <ToolbarButton
      id="Open"
      icon="mdi mdi-folder-open-outline"
      on:click={() => dispatch('open')}
      tooltip={textMgr.getTooltip('open')} />
    <ToolbarButton
      id="Save"
      icon="mdi mdi-content-save-outline"
      on:click={() => dispatch('save')}
      tooltip={textMgr.getTooltip('save')} />
    <ToolbarButton
      id="SaveAs"
      icon="mdi mdi-content-save-edit-outline"
      on:click={() => dispatch('saveAs')}
      tooltip={textMgr.getTooltip('saveAs')} />
    <ToolbarButton
      id="Settings"
      icon="mdi mdi-settings-outline"
      on:click={() => dispatch('settings')}
      tooltip={textMgr.getTooltip('applicationSettings')} />

  </ToolbarGroup>

  <ToolbarGroup id="Edit" text="EDIT">
    <ToolbarButton
      id="Cut"
      icon="mdi mdi-content-cut"
      on:click={() => dispatch('cut')}
      tooltip={textMgr.getTooltip('cut')} />
    <ToolbarButton
      id="Copy"
      icon="mdi mdi-content-copy"
      on:click={() => dispatch('copy')}
      tooltip={textMgr.getTooltip('copy')} />
    <ToolbarButton
      id="Paste"
      icon="mdi mdi-content-paste"
      on:click={() => dispatch('paste')}
      tooltip={textMgr.getTooltip('paste')} />
    <ToolbarButton
      id="Delete"
      icon="mdi mdi-trash-can-outline"
      on:click={() => dispatch('delete')}
      tooltip={textMgr.getTooltip('delete')} />
    <ToolbarButton
      id="Undo"
      icon="mdi mdi-undo"
      on:click={() => dispatch('undo')}
      tooltip={textMgr.getTooltip('undo')} />
    <ToolbarButton
      id="Redo"
      icon="mdi mdi-redo"
      on:click={() => dispatch('redo')}
      tooltip={textMgr.getTooltip('redo')} />
  </ToolbarGroup>

  <ToolbarGroup id="Tools" text="TOOL">
    <ToolbarToggleButton
      id={TOOLS.SELECT}
      icon="mdi mdi-cursor-default-outline"
      on:click={onClickTool}
      selected={selected === TOOLS.SELECT}
      tooltip={textMgr.getTooltip('cursor')} />
    <ToolbarToggleButton
      id={TOOLS.RECT}
      icon="mdi mdi-vector-rectangle"
      selected={selected === TOOLS.RECT}
      on:click={onClickTool}
      tooltip={textMgr.getTooltip('rect')} />
    <ToolbarToggleButton
      id={TOOLS.POLY}
      icon="mdi mdi-vector-polygon"
      selected={selected === TOOLS.POLY}
      on:click={onClickTool}
      tooltip={textMgr.getTooltip('poly')} />
    <ToolbarToggleButton
      id={TOOLS.RESIZE}
      icon="mdi mdi-resize"
      selected={selected === TOOLS.RESIZE}
      on:click={onClickTool}
      tooltip={textMgr.getTooltip('resize')} />
    <ToolbarToggleButton
      id={TOOLS.TWEAK}
      icon="mdi mdi-vector-point"
      selected={selected === TOOLS.TWEAK}
      on:click={onClickTool}
      tooltip={textMgr.getTooltip('tweak')} />
  </ToolbarGroup>
</div>
