<script>
  import { createEventDispatcher } from "svelte";
  import Tooltip from "../../Tooltip/Tooltip.svelte";

  const dispatch = createEventDispatcher();

  export let id = "";
  export let tooltip = { header: "", body: "" };
  export let icon;
</script>

<style>
  button {
    font-size: var(--toolbar-button-font-size);
    color: var(--toolbar-button-color);
    background-color: var(--toolbar-button-background-color);
    border: none;
    width: 100%;
  }

  button:hover {
    background-color: var(--toolbar-button-hover-background-color);
    color: var(--toolbar-button-hover-color);
  }
  button:active {
    color: var(--toolbar-button-active-color);
    background-color: var(--toolbar-button-active-background-color);
  }
  button:focus {
    outline-color: var(--toolbar-button-outline-color);
    outline-width: 1px;
  }
  button::before {
    vertical-align: middle;
  }
</style>

<button class={icon} on:click={() => dispatch('click')}>
  <Tooltip header={tooltip.header} body={tooltip.body} />
</button>
