<script>
  import { createEventDispatcher, onMount } from "svelte";
  export let id = "";
  export let text;
</script>

<style>
  p {
    font-size: var(--toolbar-group-font-size);
    margin: 0px;
    text-align: center;
    width: 100%;
  }
  div {
    background-color: var(--toolbar-group-background-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1px;
  }
  .toolbar-group {
    padding-bottom: 16px;
    margin: 2px;
  }
</style>

<div {id} class="toolbar-group">
  <p>{text}</p>

  <slot />
</div>
