<script>
  import Modal from "../Modal/Modal.svelte";
  import { createEventDispatcher } from "svelte";

  export let text = "";

  const dispatch = createEventDispatcher();
  const electronRemote = require("electron").remote;
  const appName = electronRemote.app.getName();
</script>

<style>

</style>

<div>
  <Modal
    header={appName}
    buttons="cancel|yes|no"
    on:close={result => {
      dispatch('close', result.detail);
    }}>
    <p>{text}</p>
  </Modal>
</div>
