<script>
  import { createEventDispatcher, onMount } from "svelte";
  import Tooltip from "../../Tooltip/Tooltip.svelte";

  const dispatch = createEventDispatcher();

  export let id = "";
  export let tooltip = { header: "", body: "" };
  export let icon;

  export let selected = false;
</script>

<style>
  button {
    font-size: var(--toolbar-button-font-size);
    color: var(--toolbar-button-color);
    background-color: var(--toolbar-button-background-color);
    border: none;
    text-align: center;
    width: 100%;
  }
  button:active {
    color: var(--toolbar-button-active-color);
    background-color: var(--toolbar-button-active-background-color);
  }

  .button-selected {
    color: var(--toolbar-button-selected-color);
    background-color: var(--toolbar-button-selected-background-color);
  }

  button:hover {
    background-color: var(--toolbar-button-hover-background-color);
    color: var(--toolbar-button-hover-color);
  }
  button:focus {
    outline-color: var(--toolbar-button-outline-color);
    outline-width: 1px;
  }
  button::before {
    vertical-align: middle;
  }
</style>

<!-- TODO: Fix styling when active. -->
<button
  {id}
  class={icon}
  class:button-selected={selected}
  on:click={e => dispatch('click', e)}>
  <Tooltip header={tooltip.header} body={tooltip.body} />
</button>
