<script>
  export let checked;

  // THANKS: https://medium.com/@amitdubey.108/create-custom-checkbox-and-radio-button-using-css-best-practices-9f0eabf98d57

  let spanElem;

  const onCheckboxSpanClick = e => {
    spanElem.focus();
  };
</script>

<style>
  .checkbox-container {
    position: relative;
  }

  .checkbox {
    outline: none;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
    width: 1.1rem;
    height: 1.1rem;
  }

  .checkbox-span {
    display: inline-block;
    border: 1px solid var(--modal-input-border-color);
    width: 1.1rem;
    height: 1.1rem;
    vertical-align: middle;
    cursor: pointer;
    background-color: var(--modal-input-background-color);
    outline: none;
  }

  .checkbox-span:focus {
    border-color: var(--modal-item-focus-border-color);
  }

  .checkbox:checked ~ .checkbox-span::after {
    content: "\2713";
    font-size: 0.8rem;
    font-weight: bold;
    position: relative;
    color: var(--modal-input-color);
    top: -2px;
    left: 2px;
  }
  .checkbox:checked:hover ~ .checkbox-span::after {
    content: "\2713";
    font-size: 0.8rem;
    font-weight: bold;
    position: relative;
    top: -2px;
    left: 2px;
    color: var(--modal-item-hover-color);
  }
</style>

<div class="checkbox-container" tabindex="-1">
  <input
    type="checkbox"
    class="checkbox"
    {checked}
    tabindex="-1"
    on:click={onCheckboxSpanClick}
    bind:checked />
  <span class="checkbox-span" tabindex="0" bind:this={spanElem} />
</div>
