:root{
	--main-color: rgb(35, 35, 35);
	--module-background-color: rgb(40, 40, 40);
	--module-border-color: rgb(50, 50, 50);
	--module-header-background-color: rgb(15, 15, 15);
	--module-header-border-color: rgb(25, 25, 25);
	--module-header-color: rgb(200, 200, 200);
	
	--module-header-font-size: 14px;
	
	--module-header-item-color: rgb(215, 215, 215);
	--module-header-item-background-color: transparent;
	--module-header-item-outline-color: orange;
	--module-header-item-active-background-color: rgb(90, 90, 90);
	--module-header-item-active-color: rgb(255, 255, 255);
	--module-header-item-hover-color: rgb(215, 215, 215);
	--module-header-item-hover-background-color: rgb(70, 70, 70);
	
	--module-header-item-font-size:  16px;

	--module-header-menu-background-color: rgb(40,40, 40);	
	--module-header-menu-color: rgb(215, 215, 215);

	--module-scroll-track-color:rgb(35, 35, 35);
	--module-scroll-thumb-color:rgb(100, 100, 100);
	--module-scroll-thumb-hover-color:rgb(150, 150, 150);

	--toolbar-color: rgb(200, 200, 200);
	--toolbar-border-color: rgb(50, 50, 50);
	--toolbar-background-color:rgb(40, 40, 40);
	--toolbar-group-background-color:rgb(15, 15, 15);
	
	--toolbar-group-font-size:12px;
	
	--toolbar-button-background-color: transparent;
	--toolbar-button-color:rgb(215, 215, 215);

	--toolbar-button-hover-background-color: rgb(70, 70, 70);
	--toolbar-button-hover-color: rgb(215, 215, 215);
	--toolbar-button-active-background-color: rgb(90, 90, 90);
	--toolbar-button-active-color: rgb(255, 255, 255);
	--toolbar-button-selected-background-color: rgb(50, 50, 50);
	--toolbar-button-selected-color: rgb(215, 215, 215);
	--toolbar-button-outline-color: orange;

	--toolbar-button-font-size: 16px;

	--tooltip-background-color:rgb(70, 70, 70);
	--tooltip-border-color:rgb(15, 15, 15);

	--modal-surrounding-background-color:rgba(0, 0, 0, 0.3);
	--modal-border-color:rgb(15, 15, 15);
	--modal-background-color:rgb(40, 40, 40);
	--modal-color:rgba(215, 215, 215);
	--modal-ruler-color: rgba(50, 50, 50);
	--modal-input-color: rgb(215, 215, 215);
	--modal-input-border-color: rgba(50, 50, 50);
	--modal-input-background-color: rgba(35, 35, 35);
	--modal-input-selection-background-color: rgb(208, 208, 208);
	--modal-input-selection-color: rgb(215, 215, 215);

	--modal-item-border-color:rgb(208, 208, 208);
	--modal-item-color: rgba(215, 215, 215);
	--modal-item-focus-border-color: orange;
	--modal-item-hover-color: rgb(255, 255, 255);

	--modal-button-active-background-color: rgb(90, 90, 90);
	--modal-button-active-color: rgb(255, 255, 255);	
	--modal-button-hover-background-color: rgb(70, 70, 70);

	--modal-chip-remove-hover-color: white;
	
	--modal-font-size: 13px;
	--modal-header-font-size: 16px;
	--modal-subheader-font-size: 14px;
	--modal-button-font-size: 13px;


	--font-family: "Segoe UI";

	--context-menu-font-size: 11px;
	--context-menu-header-font-size: 12px;
	--context-menu-surrounding-background-color:transparent;
	--context-menu-border-color:rgb(50, 50, 50);
	--context-menu-background-color:rgb(15, 15, 15);
	--context-menu-group-background-color:transparent;
	--context-menu-color:rgba(215, 215, 215);
	--context-menu-item-color:rgba(215, 215, 215);
	--context-menu-item-hover-color: rgb(255, 255, 255);	
	--context-menu-item-hover-background-color: rgb(70, 70, 70);	
	--context-menu-item-active-color: rgb(255, 255, 255);	
	--context-menu-item-focus-border-color: orange;
	--context-menu-ruler-color: rgba(50, 50, 50);

}


* {
	position: relative;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	overflow: hidden;
}

body {
	font-family: 'Segoe UI';
	user-select: none;
	height: 100%;
	margin: 0;
	padding: 0;
	line-height: 1.5;
	-webkit-app-region: drag;
	background-color: var(--main-color)
}

  .modal-input-text {
	border: 1px solid;
	border-color: var(--modal-input-border-color);
	background-color: var(--modal-input-background-color);
	color: var(--modal-input-color);
	padding:3px;
	outline-style: none;
  }
  .modal-input-text:focus{
	  border-color:var(--modal-item-focus-border-color);
  }
  .modal-input-text::selection{
	  background:var(--modal-input-selection-background-color);
	  color:var(--modal-input-selection-color);
  }

.modal-input-checkbox {
	border: 1px solid;
	border-color: var(--modal-input-border-color);
	background-color: var(--modal-input-background-color);
	color: var(--modal-input-color);
	padding:3px;
	outline-style: none;
  }
  .modal-input-checkbox:focus{
	  border-color:var(--modal-item-focus-border-color);
  }
  .modal-input-checkbox::selection{
	  background:var(--modal-input-selection-background-color);
	  color:var(--modal-input-selection-color);
  }