<script>
  var os = require("os");

  import Modal from "../Modal/Modal.svelte";

  import { createEventDispatcher } from "svelte";

  const electronRemote = require("electron").remote;

  const dispatch = createEventDispatcher();
  const appName = electronRemote.app.getName();
  const header = `${appName} v ${electronRemote.app.getVersion()}`;

  const operatingSystem = os.type();
  const osRelease = os.release();
  const systemVersion = `${operatingSystem} ${osRelease}`;
  const nodeVersion = electronRemote.process.versions.node;
  const chromeVersion = electronRemote.process.versions.chrome;
  const electronVersion = electronRemote.process.versions.electron;
  const svelteVersion =
    electronRemote.process.env.npm_package_devDependencies_svelte;
</script>

<style>

</style>

<div>
  <Modal
    {header}
    buttons="close"
    on:close={result => dispatch('close', result)}>
    <p>Created by Jan Adolfsson 2018-2019</p>
    <table>
      <tr>
        <td width="75px">Commit</td>
        <!-- TODO: Commit -->
        <td width="150px" align="right">...</td>
      </tr>
      <tr>
        <td>Date</td>
        <!-- TODO: Date of commit -->
        <td align="right">...</td>
      </tr>
      <tr>
        <td>Svelte</td>
        <td align="right">{svelteVersion}</td>
      </tr>
      <tr>
        <td>Electron</td>
        <td align="right">{electronVersion}</td>
      </tr>
      <tr>
        <td>Node</td>
        <td align="right">{nodeVersion}</td>
      </tr>
      <tr>
        <td>Chrome</td>
        <td align="right">{chromeVersion}</td>
      </tr>
      <tr>
        <td>System</td>
        <td align="right">{systemVersion}</td>
      </tr>
    </table>
  </Modal>
</div>
