<script>
  import { onMount } from "svelte";

  export let header = "";
  export let body = "";

  const TimeOutInMs = 500;
  let tooltipVisible = false;
  let mouseIsOver = false;
  let span;

  onMount(() => {
    const parent = span.parentElement;
    parent.addEventListener("mouseover", onMouseOver);
    parent.addEventListener("mouseout", onMouseOut);
  });

  function onMouseOver(e) {
    if (mouseIsOver) {
      return;
    }
    mouseIsOver = true;
    window.setTimeout(showTooltip, TimeOutInMs);
  }
  function onMouseOut(e) {
    mouseIsOver = false;
    tooltipVisible = false;
  }
  function showTooltip() {
    if (mouseIsOver) {
      tooltipVisible = true;
    }
  }
</script>

<style>
  /* Tooltip text */
  span {
    visibility: hidden;
    width: 160px;
    background-color: var(--tooltip-background-color);
    border: 1px solid var(--tooltip-border-color);
    color: white;
    text-align: left;
    vertical-align: top;
    border-radius: 0px;
    padding: 5px 5px 0px 5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1000;
    top: -10%;
    left: 110%;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }

  span::after {
    content: "";
    position: absolute;
    top: 10px;
    left: -8px;
    right: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: var(--tooltip-border-color);
    outline: 0px;
  }

  .span-visible {
    font-size: 11px;
    visibility: visible;
    opacity: 1;
  }
  b {
    text-transform: uppercase;
    font-weight: normal;
    text-decoration: underline;
  }
</style>

<span
  id="tooltip"
  class:span-visible={tooltipVisible}
  bind:this={span}
  tabindex="-1">
  <b>{header}</b>
  <p>{body}</p>
</span>
