<script>
  import { createEventDispatcher } from "svelte";
  import { Keys } from "../../../../keys.js";

  export let item;

  let dispatch = createEventDispatcher();

  const onKeyDown = e => {
    if (e.key === Keys.space || e.key === Keys.enter) {
      e.stopPropagation();
      e.preventDefault();
      onClick();
    }
  };

  const onClick = () => {
    item.checked = true;
    dispatch("click", item);
  };
</script>

<style>
  .menu-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: var(--module-header-font-size);
    font-family: var(--font-family);
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid transparent;
  }

  .menu-item:hover {
    color: var(--context-menu-item-hover-color);
    background-color: var(--context-menu-item-hover-background-color);
  }
  .menu-item:focus {
    border-width: 1px;
    border-style: solid;
    border-color: var(--context-menu-item-focus-border-color);
  }

  .checkmark {
    font-size: 10px;
    color: var(--module-header-menu-color);
    top: -5px;
    left: 0px;
    z-index: 10000;
  }

  .square {
    width: 12px;
    height: 12px;
    margin-right: 5px;
  }
</style>

<div
  class="menu-item"
  tabindex="0"
  on:click|stopPropagation={onClick}
  on:keydown={onKeyDown}>
  <div class="square" style={'background-color: ' + item.color}>
    {#if item.checked}
      <b class="checkmark">&#x2713;</b>
    {/if}
  </div>
  {item.text}
</div>
