<script>
  import { onMount, afterUpdate } from "svelte";
  import { createEventDispatcher } from "svelte";

  import { ExportCellsCmd } from "../../commands/ExportCellsCmd";
  import Module from "../Module/Module.svelte";
  import ModuleHeaderButton from "../Module/ModuleHeaderButton/ModuleHeaderButton.svelte";
  import Slider from "../Slider/Slider.svelte";
  import Question from "../../dialogs/Question/Question.svelte";
  import NavigatorCanvas from "./NavigatorCanvas/NavigatorCanvas.svelte";

  const ZOOM_DELTA_STEP = 10;
  const ZOOM_MIN = 10;
  const ZOOM_MAX = 300;

  export let spritesheet;
  export let spritesheetSize;
  export let spriteSize;
  export let zoom;
  export let cmdMgr;
  export let cells;
  export let boxTypes;
  export let tags;
  export let settings;

  const dispatch = createEventDispatcher();

  let showQuestionToCloseSpritesheet = false;
  let selection = null;
  let modKeys = {
    ctrl: false
  };

  afterUpdate(async () => {
    if (!spritesheet) {
      selection = null;
    }
  });
  function onClose() {
    showQuestionToCloseSpritesheet = true;
  }

  function closeSpritesheet() {
    spritesheet = null;
    selection = null;
    dispatch("close");
    dispatch("selectionChange", { selection: null });
  }

  function onZoomChange(e) {
    zoom = e.detail.value;
  }

  function onExport() {
    if (!spritesheet) {
      return;
    }

    new ExportCellsCmd(cells, selection).do();
  }
  function onIndexChange(e) {
    dispatch("indexChange", { index: e.detail.newIndex });
  }
  function onSelectionChange(e) {
    selection = e.detail.selection;
    dispatch("selectionChange", { selection: selection });
  }
  function onKeyDown(e) {
    if (e.key === "Control") {
      modKeys.ctrl = true;
    }
  }
  function onKeyUp(e) {
    if (e.key === "Control") {
      modKeys.ctrl = false;
    }
  }
  function onWheel(e) {
    if (modKeys.ctrl) {
      zoom = clamp(zoom + e.deltaY / ZOOM_DELTA_STEP, ZOOM_MIN, ZOOM_MAX);
    }
  }
  function clamp(value, min, max) {
    return Math.min(Math.max(value, min), max);
  }
  function onQuestionToCloseSpritesheetClose(result) {
    showQuestionToCloseSpritesheet = false;
    if (result.detail.btn === "yes") {
      closeSpritesheet();
    }
  }
</script>

<style>
  .navigator {
    height: 800px;
    max-height: 800px;
  }
  .navigator-body {
    height: 100%;
    width: 100%;
  }
  .navigator-buttons {
    display: inline;
  }
  .button-container {
    float: right;
  }
</style>

<div class="navigator">
  <Module title="Navigator">
    <div slot="ModuleHeaderButtons" class="navigator-buttons">
      <Slider
        value={zoom}
        min={ZOOM_MIN}
        max={ZOOM_MAX}
        on:valuechange={onZoomChange} />
      <div class="button-container">
        <ModuleHeaderButton
          id="copy"
          icon="mdi mdi-content-copy"
          tooltip="Export cells to Clipboard as Json."
          on:click={() => onExport()} />
        <ModuleHeaderButton
          id="open"
          icon="mdi mdi-folder-open-outline"
          tooltip="Open spritesheet"
          on:click={() => dispatch('open')} />
        <ModuleHeaderButton
          id="close"
          icon="mdi mdi-trash-can-outline"
          tooltip="Close spritesheet"
          on:click={() => onClose()} />
        <ModuleHeaderButton
          id="settings"
          icon="mdi mdi-settings-outline"
          tooltip="Show settings"
          on:click={() => dispatch('settings')} />
      </div>
    </div>
    <div
      class="navigator-body"
      slot="ModuleBody"
      on:wheel={onWheel}
      on:keydown={onKeyDown}
      on:keyup={onKeyUp}>
      <NavigatorCanvas
        {settings}
        {zoom}
        {spritesheet}
        {spritesheetSize}
        {spriteSize}
        {cmdMgr}
        {cells}
        {boxTypes}
        {tags}
        on:indexChange={onIndexChange}
        on:selectionChange={onSelectionChange} />
    </div>
  </Module>
</div>

{#if showQuestionToCloseSpritesheet}
  <Question
    on:close={result => onQuestionToCloseSpritesheetClose(result)}
    text="Are you sure you want to close spritesheet?" />
{/if}
