<script>
  import { createEventDispatcher } from "svelte";

  import IntPairInput from "../IntPairInput/IntPairInput.svelte";
  import Checkbox from "../Checkbox/Checkbox.svelte";
  import ColorButton from "../ColorButton/ColorButton.svelte";
  import Modal from "../../dialogs/Modal/Modal.svelte";
  import Question from "../../dialogs/Question/Question.svelte";
  import { MODAL_BUTTONS } from "../../dialogs/Modal/ModalButtons.js";

  export let settings;
  export let defaultSettings;

  const dispatch = createEventDispatcher();
  let mySettings = JSON.parse(JSON.stringify(settings));
  let showReset = false;

  const onClose = result => {
    if (result.detail.btn === MODAL_BUTTONS.OK) {
      dispatch("close", {
        btn: result.detail.btn,
        settings: mySettings
      });
    } else if (result.detail.btn === MODAL_BUTTONS.CANCEL) {
      dispatch("close", {
        btn: result.detail.btn,
        settings: null
      });
    } else if (result.detail.btn === MODAL_BUTTONS.RESET) {
      showReset = true;
    } else {
      console.log(`Handling for button ${result.detail.btn} is not supported.`);
    }
  };

  const onQuestionToResetClose = result => {
    showReset = false;
    if (result.detail.btn === "yes") {
      resetSettings();
    }
  };

  const resetSettings = () => {
    mySettings.canvas.showGrid = defaultSettings.canvas.showGrid;
    mySettings.canvas.gridColor = defaultSettings.canvas.gridColor;
    mySettings.canvas.bgColor = defaultSettings.canvas.bgColor;

    mySettings.selection.lineColor = defaultSettings.selection.lineColor;
    mySettings.selection.fillColor = defaultSettings.selection.fillColor;

    mySettings.polygon.fill = defaultSettings.polygon.fill;
    mySettings.polygon.fillColor = defaultSettings.polygon.fillColor;

    mySettings.project.spritesheetSize =
      defaultSettings.project.spritesheetSize;
    mySettings.project.spriteSize = defaultSettings.project.spriteSize;
  };

  const onBgColorChange = e => {
    mySettings.canvas.bgColor = e.detail.color;
  };

  const onSelectionColorChange = e => {
    mySettings.selection.lineColor = e.detail.color;
  };

  const onGridColorChange = e => {
    mySettings.canvas.gridColor = e.detail.color;
  };

  const onSpritesheetSizeChanged = event => {
    mySettings.project.spritesheetSize.x = event.detail.value1;
    mySettings.project.spritesheetSize.y = event.detail.value2;
  };
  const onSpriteSizeChanged = event => {
    mySettings.project.spriteSize.x = event.detail.value1;
    mySettings.project.spriteSize.y = event.detail.value2;
  };
</script>

<style>
  .section {
    margin-top: 8px;
    margin-bottom: 20px;
  }

  .label {
    width: 130px;
  }
  .input {
    width: 150px;
  }

  .spritesheet-label {
    width: 40px;
  }
  .spritesheet-input {
    width: 50px;
  }

  .spritesize-label {
    width: 50px;
  }
  .spritesize-input {
    width: 50px;
  }

  h3 {
    text-transform: uppercase;
    font-family: var(--font-family);
    font-size: var(--modal-subheader-font-size);
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 3px;
  }

  input[type="number"] {
    width: 50px;
    margin-right: 40px;
  }
</style>

<div>
  <Modal
    header="Navigator settings"
    buttons="ok|cancel|reset"
    on:close={result => onClose(result)}>

    <div class="section">
      <table>
        <tr>
          <td class="label">
            <label>Background color</label>
          </td>
          <td class="input">
            <ColorButton
              text="Background"
              color={mySettings.canvas.bgColor}
              on:change={onBgColorChange} />
          </td>
        </tr>
        <tr>
          <td class="label">
            <label>Selection color</label>
          </td>
          <td class="input">
            <ColorButton
              text="Selection"
              color={mySettings.selection.lineColor}
              on:change={onSelectionColorChange} />
          </td>
        </tr>
        <tr>
          <td class="label">
            <label>Show grid</label>
          </td>
          <td class="input">
            <Checkbox bind:checked={mySettings.canvas.showGrid} />
          </td>
        </tr>
        <tr>
          <td class="label">
            <label>Grid color</label>
          </td>
          <td class="input">
            <ColorButton
              text="Grid"
              color={mySettings.canvas.gridColor}
              on:change={onGridColorChange} />
          </td>
        </tr>
      </table>
    </div>
    <div class="section">
      <h3>Spritesheet</h3>
      <table>
        <tr>
          <td class="spritesheet-label">
            <label>Cols</label>
          </td>
          <td class="spritesheet-input">
            <input
              class="modal-input-text"
              type="number"
              min="1"
              bind:value={mySettings.project.spritesheetSize.x} />
          </td>
          <td class="spritesheet-label">
            <label>Rows</label>
          </td>
          <td class="spritesheet-input">
            <input
              class="modal-input-text"
              type="number"
              min="1"
              bind:value={mySettings.project.spritesheetSize.y} />
          </td>
        </tr>
      </table>
    </div>

    <div class="section">
      <h3>Sprite size</h3>
      <table>
        <tr>
          <td class="spritesize-label">
            <label>Width</label>
          </td>
          <td class="spritesize-input">
            <input
              class="modal-input-text"
              type="number"
              min="1"
              bind:value={mySettings.project.spriteSize.x} />
          </td>
          <td class="spritesize-label">
            <label>Height</label>
          </td>
          <td class="spritesize-input">
            <input
              class="modal-input-text"
              type="number"
              min="1"
              bind:value={mySettings.project.spriteSize.y} />
          </td>
        </tr>
      </table>
    </div>
  </Modal>

  {#if showReset}
    <Question
      on:close={result => onQuestionToResetClose(result)}
      text="Are you sure you want to reset Navigator settings?" />
  {/if}
</div>
