<script>
  import { createEventDispatcher } from "svelte";

  const dispatch = createEventDispatcher();
</script>

<style>
  .add-chip-button {
    font-size: var(--modal-button-font-size);
    font-weight: bold;
    color: var(--modal-item-color);
    background-color: var(--modal-button-background-color);
    border: none;
    margin: 5px;
    width: 26px;
    height: 26px;
    outline: none;
  }

  .add-chip-button:hover {
    color: var(--modal-item-hover-color);
  }

  .add-chip-button:focus {
    border: 1px solid var(--modal-item-focus-border-color);
  }
  .add-chip-button::before {
    vertical-align: top;
  }
</style>

<button
  class="add-chip-button mdi mdi-plus"
  on:click={() => dispatch('click')} />
