<script>
    import { createEventDispatcher } from "svelte";

    export let value;

    const dispatch = createEventDispatcher();

    function onValue1Changed(event) {
        dispatch("change", { value1: event.target.valueAsNumber, value2: value.value2 } );
    }
    function onValue2Changed(event) {
        dispatch("change", { value1: value.value1, value2: event.target.valueAsNumber } );
    }    
</script>

<div>
    <input 
        type=number 
        min=0
        bind:value={ value.value1 }
        on:change={ onValue1Changed }
        />
    <input 
        type=number 
        min=0
        bind:value={ value.value2 }
        on:change={ onValue2Changed }        
        />
</div>