<script>
  import { createEventDispatcher } from "svelte";

  import IntPairInput from "./components/IntPairInput/IntPairInput.svelte";
  import Checkbox from "./components/Checkbox/Checkbox.svelte";
  import Chips from "./components/Chips/Chips.svelte";
  import Modal from "./dialogs/Modal/Modal.svelte";
  import { MODAL_BUTTONS } from "./dialogs/Modal/modalButtons.js";
  import Question from "./dialogs/Question/Question.svelte";
  import { BOX_TYPES } from "./constants.js";

  const dispatch = createEventDispatcher();

  export let settings;
  export let defaultSettings;

  let showDeleteTag = false;
  let showReset = false;
  let tagToDelete = null;

  let mySettings = {
    loadProjectAtStart: settings.loadProjectAtStart,
    projectPath: settings.projectPath,
    boxTypes: JSON.parse(JSON.stringify(settings.boxTypes)),
    defaultBoxType: BOX_TYPES.HURT,
    tags: JSON.parse(JSON.stringify(settings.tags))
  };

  mySettings.boxTypes.forEach(boxType => {
    boxType.editable = false;
    boxType.permanent = true;
  });

  mySettings.tags.forEach(tag => {
    tag.editable = true;
    tag.permanent = false;
  });

  function onQuestionToResetClose(result) {
    showReset = false;
    if (result.detail.btn === "yes") {
      resetSettings();
    }
  }

  function resetSettings() {
    mySettings.loadProjectAtStart = defaultSettings.loadProjectAtStart;
    mySettings.projectPath = defaultSettings.projectPath;
    mySettings.boxTypes = JSON.parse(JSON.stringify(defaultSettings.boxTypes));
    mySettings.defaultBoxType = defaultSettings.defaultBoxType;
    mySettings.tags = JSON.parse(JSON.stringify(defaultSettings.tags));
  }

  function onClose(result) {
    if (result.detail.btn === MODAL_BUTTONS.OK) {
      dispatch("close", {
        btn: result.detail.btn,
        settings: mySettings
      });
    } else if (result.detail.btn === MODAL_BUTTONS.CANCEL) {
      dispatch("close", {
        btn: result.detail.btn,
        settings: null
      });
    } else if (result.detail.btn === MODAL_BUTTONS.RESET) {
      showReset = true;
    } else {
      console.log(`Handling for button ${result.detail.btn} is not supported.`);
    }
  }

  function onTagDelete(e) {
    tagToDelete = e.detail.item;
    showDeleteTag = true;
  }
  function onTagAdd(e) {
    const newTag = {
      type: generateNewTagName(),
      color: "transparent",
      id: mySettings.tags.length,
      editable: true
    };
    mySettings.tags = [...mySettings.tags, newTag];
  }

  function generateNewTagName() {
    const nameExists = name => mySettings.tags.find(t => t.type === name);
    const newTagName = counter => `New Tag ${counter}`;

    let counter = 0;
    let suggestion = newTagName(counter);
    while (nameExists(suggestion)) {
      ++counter;
      suggestion = newTagName(counter);
    }

    return suggestion;
  }

  function deleteTag() {
    const idx = mySettings.tags.findIndex(tag => tag.id === tagToDelete.id);
    mySettings.tags.splice(idx, 1);
    mySettings.tags = mySettings.tags;
  }

  function onQuestionToDeleteTagClose(result) {
    showDeleteTag = false;
    if (result.detail.btn === "yes") {
      deleteTag();
    }
    tagToDelete = null;
  }
</script>

<style>
  .div-setting {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .td-label {
    width: 130px;
  }
  .td-input {
    width: 200px;
  }

  h3 {
    text-transform: uppercase;
    font-family: var(--font-family);
    font-size: var(--modal-subheader-font-size);
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 3px;
  }
</style>

<div>
  <Modal
    header="Settings"
    buttons="ok|cancel|reset"
    on:close={result => onClose(result)}>

    <table>
      <tr>
        <td class="td-label">
          <label>Load project at start</label>
        </td>
        <td class="td-input">
          <Checkbox bind:checked={mySettings.loadProjectAtStart} />
        </td>
      </tr>
      <tr>
        <td class="td-label">
          <label>Project path</label>
        </td>
        <td class="td-input">
          <input
            class="modal-input-text"
            type="text"
            bind:value={mySettings.projectPath} />
        </td>
      </tr>
    </table>

    <div class="div-setting">
      <h3>Boxes</h3>
      <Chips items={mySettings.boxTypes} fixedSize={true} />
    </div>

    <div class="div-setting">
      <h3>Tags</h3>
      <Chips
        items={mySettings.tags}
        on:delete={onTagDelete}
        on:add={onTagAdd} />
    </div>
  </Modal>

  {#if showDeleteTag}
    <Question
      on:close={result => onQuestionToDeleteTagClose(result)}
      text="Are you sure you want to delete tag?" />
  {/if}

  {#if showReset}
    <Question
      on:close={result => onQuestionToResetClose(result)}
      text="Are you sure you want to reset all settings?" />
  {/if}
</div>
