<script>
  export let title = "Header";
</script>

<style>
  .module {
    border: 1px solid;
    border-color: var(--module-border-color);
    background-color: var(--module-background-color);
    padding: 4px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .module-header {
    background-color: var(--module-header-background-color);
    border: 1px solid;
    border-color: var(--module-header-border-color);
    margin-bottom: 2px;
    color: var(--module-header-color);
    padding: 0px 8px 0px 8px;
    height: 28px;
  }
  .module-body {
    flex-grow: 1;
    overflow: scroll;
  }
  h1 {
    font-family: var(--font-family);
    font-size: var(--module-header-font-size);
    font-weight: normal;
    color: var(--module-header-color);
    padding: 0px;
    margin: 0px;
    display: inline;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-corner {
    background: var(--module-scroll-track-color);
  }

  ::-webkit-scrollbar-track {
    background: var(--module-scroll-track-color);
    padding: 2px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--module-scroll-thumb-color);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--module-scroll-thumb-hover-color);
  }
</style>

<div class="module">
  <div class="module-header">
    <h1>{title}</h1>
    <slot name="ModuleHeaderButtons" />
  </div>
  <div class="module-body">
    <slot name="ModuleBody" />
  </div>
</div>
