<script>
  import { createEventDispatcher, onMount, beforeUpdate, tick } from "svelte";
  import Tooltip from "../../Tooltip/Tooltip.svelte";
  import ModuleHeaderColorButtonMenu from "./ModuleHeaderColorButtonMenu/ModuleHeaderColorButtonMenu.svelte";

  const dispatch = createEventDispatcher();

  export let tooltip = { header: "", body: "" };
  export let icon;
  export let items;
  export let checked;

  let showMenu;
  let button;
  let buttonPos;
  let checkedItem = { text: "", color: "#ffffff" };

  const onClick = e => {
    showMenu = !showMenu;
  };

  const onClose = e => {
    showMenu = !showMenu;

    if (e.detail.id !== undefined) {
      dispatch("change", e.detail);
    }
  };

  onMount(() => {
    const clientRect = button.getBoundingClientRect();
    buttonPos = { x: clientRect.x, y: clientRect.y };
  });

  beforeUpdate(() => {
    if (checked === null) {
      checkedItem = {
        text: "Unknown",
        color: "red"
      };
    } else {
      checkedItem = items.find(item => item.id === checked);
    }
  });
</script>

<style>
  button {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    font-size: var(--module-header-font-size);
    color: var(--module-header-item-color);
    background-color: var(--module-header-item-background-color);
    border: none;
    text-transform: uppercase;
  }

  button:hover {
    background-color: var(--module-header-item-hover-background-color);
    color: var(--module-header-item-hover-color);
  }
  button:active {
    color: var(--module-header-item-active-color);
    background-color: var(--module-header-item-active-background-color);
  }
  button:focus {
    outline-color: var(--module-header-item-outline-color);
    outline-width: 1px;
  }
  button::before {
    vertical-align: middle;
  }

  .square {
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }
</style>

<button class={icon} on:click={onClick} bind:this={button}>
  <div class="square" style={'background-color: ' + checkedItem.color} />
  {checkedItem.text}
  <Tooltip header={tooltip.header} body={tooltip.body} />

  {#if showMenu}
    <ModuleHeaderColorButtonMenu
      {items}
      {checked}
      pos={buttonPos}
      on:close={onClose} />
  {/if}
</button>
