<script>
  import { createEventDispatcher, onMount } from "svelte";

  import { ContextMenuItemType } from "../ContextMenuConstants.js";
  import ContextMenuButton from "../ContextMenuButton/ContextMenuButton.svelte";
  import ContextMenuRadioButton from "../ContextMenuRadioButton/ContextMenuRadioButton.svelte";
  import ContextMenuCheckButton from "../ContextMenuCheckButton/ContextMenuCheckButton.svelte";

  export let item;

  const dispatch = createEventDispatcher();

  const onMenuItemClick = e => {
    dispatch("itemClick", e.detail);
  };
</script>

<style>
  h3 {
    font-size: var(--context-menu-header-font-size);
    margin: 0px;
    margin-top: 1px;
    margin-bottom: 2px;
    text-align: left;
    width: 100%;
    text-transform: uppercase;
    font-weight: normal;
    padding-left: 8px;
  }
  .context-menu-group {
    background-color: var(--context-menu-group-background-color);
    width: 100%;
    margin: 0px;
    padding-left: 0px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
  }
</style>

<div class="context-menu-group">
  <h3>{item.text}</h3>
  {#each item.items as subItem (subItem.id)}
    {#if subItem.type === ContextMenuItemType.Button || !subItem.type}
      <ContextMenuButton item={subItem} on:click={onMenuItemClick} />
    {:else if subItem.type === ContextMenuItemType.RadioButton}
      <ContextMenuRadioButton item={subItem} on:click={onMenuItemClick} />
    {:else if subItem.type === ContextMenuItemType.CheckButton}
      <ContextMenuCheckButton item={subItem} on:click={onMenuItemClick} />
    {/if}
  {/each}
</div>
