<script>
  import { createEventDispatcher } from "svelte";

  import IntPairInput from "../IntPairInput/IntPairInput.svelte";
  import Modal from "../../dialogs/Modal/Modal.svelte";
  import ColorButton from "../ColorButton/ColorButton.svelte";
  import Checkbox from "../Checkbox/Checkbox.svelte";
  import { MODAL_BUTTONS } from "../../dialogs/Modal/modalButtons.js";
  import Question from "../../dialogs/Question/Question.svelte";

  export let settings;
  export let defaultSettings;

  const dispatch = createEventDispatcher();
  let mySettings = JSON.parse(JSON.stringify(settings));
  let showReset = false;

  function onClose(result) {
    if (result.detail.btn === MODAL_BUTTONS.OK) {
      dispatch("close", {
        btn: result.detail.btn,
        settings: mySettings
      });
    } else if (result.detail.btn === MODAL_BUTTONS.CANCEL) {
      dispatch("close", {
        btn: result.detail.btn,
        settings: null
      });
    } else if (result.detail.btn === MODAL_BUTTONS.RESET) {
      showReset = true;
    } else {
      console.log(`Handling for button ${result.detail.btn} is not supported.`);
    }
  }

  function onQuestionToResetClose(result) {
    showReset = false;
    if (result.detail.btn === "yes") {
      resetSettings();
    }
  }

  function resetSettings() {
    mySettings.canvas.showGrid = defaultSettings.canvas.showGrid;
    mySettings.canvas.gridColor = defaultSettings.canvas.gridColor;
    mySettings.canvas.bgColor = defaultSettings.canvas.bgColor;

    mySettings.selection.lineColor = defaultSettings.selection.lineColor;
    mySettings.selection.fillColor = defaultSettings.selection.fillColor;

    mySettings.polygon.fill = defaultSettings.polygon.fill;
    mySettings.polygon.fillColor = defaultSettings.polygon.fillColor;
  }

  const onBgColorChange = e => {
    mySettings.canvas.bgColor = e.detail.color;
  };

  const onSelectionColorChange = e => {
    mySettings.selection.lineColor = e.detail.color;
  };

  const onGridColorChange = e => {
    mySettings.canvas.gridColor = e.detail.color;
  };
</script>

<div>
  <Modal
    header="painter settings"
    buttons="ok|cancel|reset"
    on:close={result => onClose(result)}>

    <table>
      <tr>
        <td class="td-label">
          <label>Background color</label>
        </td>
        <td class="td-input">
          <ColorButton
            text="Background"
            color={mySettings.canvas.bgColor}
            on:change={onBgColorChange} />
        </td>
      </tr>
      <tr>
        <td class="td-label">
          <label>Selection color</label>
        </td>
        <td class="td-input">
          <ColorButton
            text="Selection"
            color={mySettings.selection.lineColor}
            on:change={onSelectionColorChange} />
        </td>
      </tr>
      <tr>
        <td class="td-label">
          <label>Show grid</label>
        </td>
        <td class="td-input">
          <Checkbox bind:checked={mySettings.canvas.showGrid} />
        </td>
      </tr>
      <tr>
        <td class="td-label">
          <label>Grid color</label>
        </td>
        <td class="td-input">
          <ColorButton
            text="Grid"
            color={mySettings.canvas.gridColor}
            on:change={onGridColorChange} />
        </td>
      </tr>
    </table>
  </Modal>

  {#if showReset}
    <Question
      on:close={result => onQuestionToResetClose(result)}
      text="Are you sure you want to reset Painter settings?" />
  {/if}
</div>
