<script>
  import { createEventDispatcher } from "svelte";

  export let item;

  const dispatch = createEventDispatcher();
</script>

<style>
  .context-menu-button {
    font-family: var(--font-family);
    font-size: var(--context-menu-font-size);
    text-transform: capitalize;
    color: var(--context-menu-item-color);
    width: 100%;
    display: flex;
    cursor: pointer;
    padding-left: 14px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: 1px solid transparent;
  }
  .context-menu-button:hover {
    color: var(--context-menu-item-hover-color);
    background-color: var(--context-menu-item-hover-background-color);
  }
  .context-menu-button:focus {
    border-width: 1px;
    border-style: solid;
    border-color: var(--context-menu-item-focus-border-color);
  }

  .context-menu-button:active {
    color: var(--context-menu-item-active-color);
  }
</style>

<p
  class="context-menu-button"
  tabindex="0"
  on:click={() => dispatch('click', item)}>
  {item.text}
</p>
