<script>
  import { createEventDispatcher, onMount } from "svelte";
  import ModuleHeaderColorButtonMenuItem from "../ModuleHeaderColorButtonMenuItem/ModuleHeaderColorButtonMenuItem.svelte";
  import { Keys } from "../../../../keys.js";

  export let checked;
  export let items;
  export let pos;

  const dispatch = createEventDispatcher();
  let menuDiv;

  onMount(() => {
    menuDiv.focus();
  });
  const onKeyDown = e => {
    if (e.key === Keys.escape) {
      dispatch("close", {});
    }

    if (e.key === Keys.tab) {
      e.preventDefault();
      return;
    }

    const getNextElem = (currElem, forward = true) => {
      const focusableItems = getFocusableItems();
      const items = Array.from(focusableItems);
      const currIndex = items.indexOf(currElem);
      const adjustment = forward ? 1 : -1;
      return items[currIndex + adjustment];
    };

    const focusableElems = firstLastFocusableElems();
    if (e.key === Keys.arrowUp) {
      e.preventDefault();

      if (e.target === menuDiv || e.target === focusableElems.first) {
        focusableElems.last.focus();
      } else {
        getNextElem(e.target, false).focus();
      }
    } else if (e.key === Keys.arrowDown) {
      e.preventDefault();

      if (e.target === focusableElems.last) {
        focusableElems.first.focus();
      } else {
        getNextElem(e.target).focus();
      }
    }
  };

  // THANKS: https://twitter.com/heydonworks/status/880773131287359488
  const getFocusableItems = () => menuDiv.querySelectorAll(".menu-item");
  const firstLastFocusableElems = () => {
    var focusable = getFocusableItems();
    return {
      first: focusable[0],
      last: focusable[focusable.length - 1]
    };
  };

  const onClick = e => {
    dispatch("close", e.detail);
  };
</script>

<style>
  .menu-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--context-menu-surrounding-background-color);
    z-index: 1;
    outline: none;
  }

  .menu {
    display: flex;
    flex-direction: column;
    background-color: var(--module-header-menu-background-color);
    color: var(--module-header-menu-color);
    z-index: 10000;
    position: absolute;
    width: 100px;
    top: 0px;
    left: 0px;
    font-size: var(--module-header-font-size);
    border: 1px solid var(--module-header-border-color);
    padding: 6px 2px 10px 2px;
  }
</style>

<div
  id="ColorButtonMenuBackground"
  class="menu-background"
  tabindex="-1"
  on:click={e => {
    if (e.target.id === 'ColorButtonMenuBackground') {
      e.stopPropagation();
      dispatch('close', {});
    }
  }}>

  <div
    class="menu"
    tabindex="0"
    style={`top: ${pos.y}px; left: ${pos.x}px`}
    bind:this={menuDiv}
    on:keydown|stopPropagation={onKeyDown}>
    {#each items as item}
      <ModuleHeaderColorButtonMenuItem
        item={{ ...item, checked: item.id === checked }}
        on:click={onClick} />
    {/each}
  </div>
</div>
