<script>
  import { createEventDispatcher } from "svelte";

  export let value;
  export let min = 1;
  export let max = 100;

  const dispatch = createEventDispatcher();

  function onZoomOut(e) {
    if (value <= min) {
      value = min;
      return;
    }

    --value;
  }

  function onZoomIn(e) {
    if (value >= max) {
      value = max;
      return;
    }

    ++value;
  }

  function onValueChange(e) {
    let before = value;
    value = e.srcElement.valueAsNumber;
    dispatch("valuechange", { value: value });
  }
</script>

<style>
  .slide-container {
    width: 150px; /* Width of the outside container */
    display: inline;
  }
  .slide-container-selected {
  }

  .slider {
    -webkit-appearance: none;
    appearance: none;
    height: 1px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    vertical-align: middle;
  }
  .slider:focus {
    outline: 3px solid var(--module-header-item-outline-color);
  }
  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 10px;
    background: var(--module-header-color);
    cursor: pointer;
  }
  .slider:focus::-webkit-slider-thumb {
    background-color: var(--module-header-item-outline-color);
  }
  button {
    font-size: var(--module-header-item-font-size);
    width: 20px;
    color: var(--module-header-item-color);
    background-color: var(--module-header-item-background-color);
    border: none;
    vertical-align: middle;
    text-align: center;
    padding: 1px;
  }
</style>

<div class="slide-container">
  <button
    class="mdi mdi-magnify-minus-outline"
    on:click={onZoomOut}
    tabindex="0" />

  <input
    class="slider"
    type="range"
    {min}
    {max}
    {value}
    on:change={onValueChange}
    tabindex="0" />
  <button
    class="mdi mdi-magnify-plus-outline"
    on:click={onZoomIn}
    tabindex="0" />
</div>
