<script>
  import { createEventDispatcher } from "svelte";
  import Tooltip from "../../Tooltip/Tooltip.svelte";

  const dispatch = createEventDispatcher();

  export let id = "";
  export let tooltip = { header: "", body: "" };
  export let icon;
</script>

<style>
  button {
    font-size: var(--module-header-item-font-size);
    color: var(--module-header-item-color);
    background-color: var(--module-header-item-background-color);
    border: none;
  }

  button:hover {
    background-color: var(--module-header-item-hover-background-color);
    color: var(--module-header-item-hover-color);
  }
  button:active {
    color: var(--module-header-item-active-color);
    background-color: var(--module-header-item-active-background-color);
  }
  button:focus {
    outline-color: var(--module-header-item-outline-color);
    outline-width: 1px;
  }
  button::before {
    vertical-align: middle;
  }
</style>

<button class={icon} on:click={() => dispatch('click')}>
  <Tooltip header={tooltip.header} body={tooltip.body} />
</button>
